<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeTable Visualiser</title>
</head>
<body>
    <h1><%= title %></h1>
    <form method="POST" action="/users" id="signUpForm">
        Username: <input type="text" name="username" id="signUpUsername">
        Password: <input type="password" name="password" id="signUpPassword">
        <input type="submit">
    </form>
</body>
<script src="\Users\PrathamGupta\Desktop\NodeJS-Projects\time-table-visualiser\public\js\app.js"></script>
</html>